.container {
  max-width: 120rem;
  margin: 8rem auto;
  border-radius: 3px;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);

  @media only screen and (max-width: 76.25em) {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.header {
  display: flex;
  font-size: 1.2rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem;
  border-bottom: var(--line);
}

.content {
  display: flex;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}

.navigation {
  flex: 0 0 18%;
  width: 80rem;
  background-color: var(--color-grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }

  &__list {
    list-style: none;
    margin-top: 2.4rem;
    font-size: 1.4rem;
    @media only screen and (max-width: $bp-medium) {
      display: flex;
      justify-content: center;
      margin: 0;
    }
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }

    &::before,
    &--active::before {
      content: "";
      display: block;
      width: 2px;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
        background-color 0.1s;
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before,
    &--active:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link:link,
  &__link:visited {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-grey-light-1);
    padding: 1.6rem 3.2rem;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 1.6rem 1rem;
    }
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: currentColor;
    margin-right: 1.6rem;
  }

  &__copyright {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 1.6rem 0;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
}

.detail {
  display: flex;
  padding: 3.2rem 4.8rem;
  border-bottom: var(--line);
  background-color: #fff;
  font-size: 1.4rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.4rem 3.2rem;
  }
}

.description {
  flex: 0 0 60%;
  margin-right: 3.2rem;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-light);
  font-size: 1.4rem;
  padding: 1.6rem 2.4rem;
  border-radius: 3px;
}

.user-review {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
